footer.site-footer
    .container
        .row
            .col-md-10
                p
                    bold 2018 제 2회 자연사 사진공모전 운영사무국 (주)씽유 / 문의전화 : 010-7777-7777
                p
                    small 서울시 영등포구 양평로 21길 어쩌구
                p
                    small Copyright © (주)씽유