+nav-label({active: navigationName === 'info', label: '공모요강', url: '/info'})
+nav-label({active: navigationName === 'receive', label: '접수하기', url: '/receive'})
+nav-label({active: navigationName === 'confirm', label: '접수확인', url: '/confirm'})
+nav-label({active: navigationName === 'notice', label: '공지사항', url: '/notice'})
+nav-label({active: navigationName === 'qna', label: 'Q&A', url: '/qna'})